@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: -webkit-fill-available;
}

.chat-input-wrapper {
    position: relative;
}

.chat-input-wrapper textarea {
    width: 200px;
}

.chat-input-wrapper.agent-mode::before {
    content: '@agent';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    background: rgb(188 240 218);
    padding: 0 4px;
    color: black;
    font-size: 12px;
    border-radius: 4px;
}

.chat-input-wrapper.agent-typed::after {
    content: 'Enter';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 72px;
    background: rgba(0, 0, 0, 0.05);
    padding: 0 4px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    border-radius: 4px;
}

.chat-input-wrapper.agent-mode textarea {
    padding-left: 72px;
}

.chat-input-wrapper.agent-typing textarea {
    font-weight: bolder;
}